<div class='container'>
    <div class='row'>
        <div class='col-md-8'>
            <h2>Carrito de Compra</h2>
            <div class='row'>
                {{#each plainCart}}
                <div class='col-md-12'>
                    <div class='card mb-3'>
                        <div class='row g-0'>
                            <div class='col-md-4'>
                                <img class='card-img-top' src={{product.thumbnails}} alt='producto' />
                            </div>
                            <div class='col-md-8'>
                                <div class='card-body'>
                                    <h5 class='card-title'>{{product.title}}</h5>
                                    <p class='card-text'>{{product.description}}</p>
                                    <p class='card-text'><strong>ID:</strong> {{product._id}}</p>
                                    <p class='card-text'><strong>Código:</strong> {{product.code}}</p>
                                    <p class='card-text'><strong>Precio:</strong> ${{product.price}}</p>
                                    <p class='card-text'><strong>Cantidad:</strong> {{quantity}}</p>
                                    <button class='btn btn-danger deleteToCart' data-productid='{{product._id}}'>
                                        Eliminar del carrito
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class='col-md-4'>
            <h2>Opciones del Carrito</h2>
            <div>
                {{#each cartId}}
                <button class='btn btn-danger deleteCart' data-cartid='{{this}}'>Eliminar carrito
                    {{this}}</button>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<script type='module' src='/js/cart.js'></script>