<div>
    {{#each products}}
    <p> 
        thumbnail: {{this.thumbnail}}
        id: {{this.id}}
        title: {{this.title}}
        description: {{this.description}}
        price: {{this.price}}
        code: {{this.code}}
        stock: {{this.stock}}
        category: {{this.category}}
        status: {{this.status}}
    </p>
    <hr>
    {{/each}}
</div>